{% extends 'base.html' %}
{% load bootstrap %}


{% block title %} Login SisLinguagem {% endblock %}

{% block main %}
    <h1>Sistema de Busca de Linguagem no GitHub</h1>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}

        </a>Só usuários cadatrados podem acessar este sistema. Caso não tenha uma senha solicite ao Administrador do Sistema.</a>
        <br>
        <button type="submit" class="btn btn-info">Login</button>
     </form>

{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvimento web com Django 2.x Adalberto</span>
      </div>
    </footer>
{% endblock %}