{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Altera SisLinguagem {% endblock %}

{% block main %}
       <h1>Sistema de Busca no Repositório Octokit - GitHub</h1>
     <div class="col">
            {% if user.is_authenticated %}
                <p><b>Ola {{user.username }}</b></p>
            {% endif %}
        </div>
    <h3>Alterar Registro</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-danger">Salvar</button>
        <a href="{% url 'logout' %}" class="btn btn-dark">Sair</a>
        <a href="{% url 'linguagem_list' %}" class="btn btn-success">Listar</a>
        <a href="{% url 'get_repos_new' %}" class="btn btn-info"> Buscar</a>
        <a href="{% url 'linguagem_new' %}" class="btn btn-primary"> Incluir</a>
        <br>Listar   => Lista todos os registros do Bco. de Dados.</br>
        <a></a>Buscar => Atualiza do Repositório do GitHub.</a>
     </form>
{% endblock %}


{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Desenvolvimento web com Django 2.x Adalberto</span>
      </div>
    </footer>
{% endblock %}